
.container-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
  background-image: url('../public/DreamShaper_v6_vegetables_sending_invitation_to_a_steak_3.jpg'); /* Replace with the path to your image */
  background-size: cover;
  width: 100%;
  height: 100%;
}

